a{
    color: gray;
    text-decoration: none;
}

a:hover{
    color: lightblue;
}

body{
    background-color: lightgrey;
}


.container{
    display:flex;
    position: relative;
    width: auto;
    height: 125px;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
}

.banner{
    position:absolute;
    left:0px;
    height:auto;
    width:auto;
}


.button{
    margin: 30px;
    width: auto;
    height: auto;
}

.button_words{
    font-size: 20px;
    font-weight: bold;
    
}