html{
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

/*for the navigation tab*/
a{
    color: darkgreen;
    text-decoration: none;
}

a:hover{
    color: rgb(147, 255, 147);
}

li{
    list-style: none;
}



nav{
    height: 125px;
    width:100%;
    background-color: white;
}

.logo{
    left:0px;
    padding: 10px;
    height:100px;
    width:200px;
}

nav ul{
    position: absolute;
    right: 40px;
    top: 10px;
    margin-right: 2px;
}

nav ul li{
    display: inline-block;
    line-height: 50.5px;
    margin: 25px;
}

nav ul li a{
    font-size: 23px;
    font-weight: bold; 
    color: darkgreen;
    text-decoration: none;
}

.checkbtn{
    font-size: 30px;
    color: darkgreen;
    float:right;
    margin-top: 50.5px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}


.line{
    width:100%;
    background-color: rgb(0, 87, 0);
    height: 4px;
}

/*for the picture scrolling section*/

.picSec{
    margin: 0;
    padding: 0;
    max-height: 600px;
    display: flex;
}

.slider{
    width:100%;
    max-height: 600px;
    overflow: hidden; 
}

.slides{
    width: 500%;
    max-height: 600px;
    display: flex;
}

.radiobtn_container{
    position: absolute;
    width: 275px;
    height: 30px;
    right: 41.2%;
    bottom: 4.25%;
    border: 2px rgb(118, 118, 118) solid;
    background: rgba(128, 128, 128, 0.697);
    border-radius: 30px;
}

.slides input{
    display:none;
}

.slide{
    width: 20%;
    transition:2s;
}

.slide img{
    width: 100%;
    max-height: 600px;
}

.manual-navigation{
    position:absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right:23px;
}

.manual-btn:not(:last-child){
    margin-right: 50px;
}

.manual-btn:hover{
    background: lightgrey;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*automatic navigation*/

.auto-navigation {
    position: absolute;
    display:flex;
    width:100%;
    justify-content: center;
    margin-top: 660px;
}

.auto-navigation div{
    transition: 1s;
}

.auto-navigation div:not(:last-child){
    margin-right: 50px;
}

#radio1:checked ~ .auto-navigation.auto-btn1{
    background: lightgray
}

#radio2:checked ~ .auto-navigation.auto-btn2{
    background: lightgray
}

#radio3:checked ~ .auto-navigation.auto-btn3{
    background: lightgray
}

#radio4:checked ~ .auto-navigation.auto-btn{
    background: lightgray
}

/*Header for website*/

.container2{
    background-color: white;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}

.special{
    background-color: rgb(231, 255, 231);
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

h2{
    font-weight: bold;
    font-size: 40px;
    color: darkgreen;
}

/*for activation of the popping out of container 2 in js*/
.active{
    opacity: 1;
    transform: scale(1);
}

/*All the 3 sections according to the tabs*/
.active_container{
    width: auto;
    height: auto;
}


.split{
    flex-grow: 1;
    flex-basis: 45%;
}

.inner_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    
}

.inner_container_words{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    
}

.imghome1{
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 25px;
}

.imghome2{
    width: 100%;
    height: auto;
}

h1{
    font-weight: bold;
    color: darkgreen;
    font-size: clamp(23px, 3vw, 40px);
}

p{                
    color: black;
    font-size: clamp(8px, 3vw, 25px);
    width: 100%;
}

.btn{
    margin-bottom: 40px;
    margin-top: 5px;
    border: none;
    color: darkgreen;
    padding: 16px 32px;
    text-decoration: none;
    text-align: center;
    font-size: clamp(3px, 3vw, 20px);
    cursor: pointer;
    background: transparent;
    transition: all 0.5s ease-in-out;
    border: 2px darkgreen solid;
}

.btn:hover{
    background-color: darkgreen;
    color: white;
}

.container3{
    margin-top: 80px;
    background: radial-gradient(white,white, rgb(155, 253, 155));
    width:100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about{
    margin-top: 0px;
}

.container3words{
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
    margin-bottom: 10px;
}

.btn_container{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.social_btns{
    display:flex;
    column-gap: 40px;
    font-size: 40px;
}

.social_btns a:hover{
    color: rgb(124, 233, 124);
}

.banner_container{
    position:absolute;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.banner{
    border: 2px green solid;
    max-width: 230px;
    max-height: 110px;
}

/*About page*/
.container4{
    background: transparent;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.fadeIn{
    animation: fadeIn 1s;
}

@keyframes fadeIn{
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.splitabout{
    flex-grow: 1;
    flex-basis: 50%;
}

.inner_container_about{
    display: flex;
    background: transparent;
    margin-top: 115px;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.inner_container_about_word{
    background-color: rgb(231, 255, 231);
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 20px;
}

.h1about{
    text-decoration: underline;
    margin-bottom: -10px;
}

.imgabout{
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-right: 15px;
    filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.266));
}

.videocontainer{
    position: relative;
    bottom: 370px;
    left: 17px;
}

.video{
    width : 600px;
    height: auto;
    position: absolute;
    object-fit: cover;
}

.playbutton{
    top: 100px;
    left: 245px;
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(./Pictures/play.png);
}

/*Our Menu*/
.foodcontainer{
    position: relative;
    width:100%;
    height:auto;
}

.properties{
    position:absolute;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 1;
}

.menucontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 255, 231);
    width:100%;
    height:auto;
}

.menuproperties{
    margin-top: 781px;
}

.menu_img{
    width: 60%;
    height: auto;
    border-radius: 25px;
    border: 3px darkgreen solid;
    margin-bottom: 40px;
}

.food_img{
    margin: 50px;
    width: 25%;
    height: auto;
    border-radius: 10px;
    border: 3px darkgreen solid;
}

.description_container{
    position:absolute;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    z-index:2;
}

.descbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    height: 291px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.712);
    opacity: 0;
}

.descbox:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.h1menu{
    text-align: center;
    font-size: 30px;
}

.h1setmenu{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    text-decoration: underline;
}

.pcontainer{
    border-radius:5px;
    border: 3px darkgreen solid;
    background-color:white;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pmenu{
    font-size: 22px;
}


/*Contact Us*/
.container5{
    background: rgb(231, 255, 231);
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.h1contact{
    margin-bottom: 10px;
}

.pcontact{
    font-size: 18px;
    max-width: 70%;
    margin-bottom: 10px;
}

.inner_container_contact{
    display: flex;
    padding-left: 280px;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.inner_container_hiring{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.hirePoster{
    width: 50%;
    height: auto;
    border: 5px rgb(0, 87, 0) solid;
    border-radius: 10px;
}

input{
    width: 70%;
    height: 20px;
    margin-top: 20px;
}

select{
    width: 70%;
    height: 30px;
    margin-top: 20px;
}

textarea{
    resize: none;
    max-width: 70%;
    width: 70%;
    height: 120px;
    margin-top: 40px;
}

.requirementcontainer{
    padding: 10px;
    margin-top: 20px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.ptitle{
    color: darkgreen;
    font-size: 20px;
    margin-bottom: -7px;
    text-decoration: underline;
}

.requirements{
    font-size: 16px;
}

.btncontact{
    width: 30%;
    margin-top: 20px;
}

.btncontact2{
    width: 30%;
    margin-top: 20px;
}

p a:hover{
    color: rgb(84, 16, 140);
    text-decoration: underline;
}

.container6{
    width:100%;
    height:auto;
}

.extra{
    border-radius: 20px;
    background-color: rgb(231, 255, 231);
    padding: 80px;
    display:flex;
    flex-direction: row;
}

.inner_container_map{
    margin: 50px;
    border-radius: 20px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.p_operation{
    margin-bottom: 10px;
}

.h1contact2{
    margin-bottom: -15px;
    margin-left: 50px;
}

h3{
    margin-left: 20px;
}

.wordcontainer{
    border-radius: 10px;
    margin-left: 50px;
    background-color: white;
    width:700px;
    padding: 30px;
}

.opensign{
    width: 30%;
    height: auto;
}

.space{
    margin-bottom: 50px;
}

/*media stuff*/
@media (max-width:858px){

    .checkbtn{
        display: block;
    }


    nav ul{
        position: absolute;
        width: 89%;
        height: 310px;
        margin-top: 125px;
        margin-left: 8px;
        background: rgb(224, 224, 224);
        right: -100%;
        transition: all 0.5s;
        color: rgb(170, 170, 170);
        filter: drop-shadow(.1em .30em .2em) ;
        z-index: 99;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li{
        display: block; 
        line-height: 20px;
    }

    nav ul li a{
        font-size: 20px;
        margin-right: 35px;
    }

    nav ul li a:hover,a:active{
        background: rgb(106, 173, 0);
        color: white;
        padding: 16px 32px;
        transition: all 0.2s ease-in-out;
    }

    #check:checked ~ ul{
        right: 1.2%;
    }


    .manual-btn{
        display:none;
    }

    .radiobtn_container{
        display:none;
    }

    .banner{
        border: 2px green solid;
        position: absolute;
        max-width: 230px;
        max-height: 110px;
        right: auto;
        margin-top: 40px;
    }

    .container2{
        margin-top: 40px;
    }

    .special{
        margin-top: 0px;
    }

    .splitabout{
        flex-grow: 1;
        flex-basis: 100%;
    }

    .inner_container_about{
        margin-top: 10px;
    }

    .videocontainer{
        bottom: 236px;
        left: 23px;
    }

    .video{
        width: 360px;
    }

    .playbutton{
        top: 55px;
        left: 150px;
        position: absolute;
        z-index: 2;
        width: 90px;
        height: 90px;
    }

    .food_img{
        width: 40%;
        margin: 20px;
    }

    .descbox{
        margin: 20px;
        width: 40%;
        padding-left: 0px;
        padding-right: 0px;
        height: 155px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.712);
        opacity: 0;
    }

    .menuproperties{
        margin-top: 584px;
    }

    .h1menu{
        margin-bottom: 1px;
        font-size: 16px;
    }
    
    .pmenu{
        font-size: 13px;
    }
    
    .menu_img{
        width: 90%;
        margin-top: 10px;
    }

    .h1setmenu{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 40px;
        text-decoration: underline;
    }    

    .inner_container_contact{
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .inner_container_hiring{
        padding-left: 0px;
        justify-content: center;
        align-items: center;
    }

    input{
        margin-left: 70px;
    }
    
    select{
        margin-left: 70px;
    }
    
    textarea{
        margin-left: 70px;
    }

    .btncontact{
        margin-left: 170px;
    }

    .inner_container_map{
        margin: 20px;
        margin-bottom: 40px;
    }

    .h1contact{
        margin-top: 20px;
    }
    
    .h1contact2{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .btncontact2{
        width: 100%;
    }
    
    .opensign{
        width: 0%;
        display: none;
    }

    .wordcontainer{
        margin-left: 0px;
        width:500px;
        padding: 30px;
        border: 5px darkgreen solid;
    }

    .container6{
        width:65%;
    }

    .extra{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: none;
    }
}

/*For the button to go top*/
.GoTopButton{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgb(32, 74, 0);
    bottom: 20px;
    right: 0px;
    padding-top: 25px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 74, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(126, 227, 11, 0.453);
    border-radius: 100vw;
}


